/* Select All */
*{
    padding: 0px;
    margin: 0px;
}
/* Root */
:root{
    /* Colours */
    --light-grey: #f5f5f5;
    --grey:#D9D9D9;
    --teal:#229799;
    --blue:#344D67;
    --tint:#424242;
}

/* Body */
body{
    font-family: "Inter",sans-serif;
}

/* Wrapper */
#wrapper{
    max-width: 1920px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--tint) 2px solid;
}
#logo{
    padding-left: 20px;
}

/* Nav */
nav{

}
nav ul{
    display:flex;
    align-items: center;
}
nav li{
    list-style: none;
    padding: 20px;
}
nav li a{
    color:var(--tint);
    text-decoration: none;
    font-size: 1.2em;
}

nav button{
    background-color: var(--teal);
    height: 50px;
    width: 120px;
    border-radius: 10px;
}
nav button a{
    color: #fff;
    font-size: 1.5em;
}

/* Hero */
#hero{
    height: 700px;
    overflow: hidden;
}
.hero-tint{
    position:relative;
}
.hero-tint img{
    width: 100%;
    object-position:0px -300px; 
}
.hero-tint::before{
    content: '';
    position: absolute;
    height: 100%;;
    width: 100%;
    background: var(--tint);
    opacity: 0.7;
}
/* Form */
form{
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 500px;
}
#login h1{
    color: var(--teal);
    text-align: center;
    font-size: 2.5em;
    padding-top: 80px;
    padding-bottom: 20px;
}
#signup h1{
    color: var(--blue);
    text-align: center;
    font-size: 2.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}
.email{
    padding: 20px;
}
.password{
    padding: 20px;
}

#login label{
    color: var(--blue);
    font-size: 1.5em;
}
#signup label{
    color: var(--teal);
    font-size: 1.5em;
}
input{
    height: 50px;
    width: 350px;
    font-size: 1.5em;
    padding-left: 10px;
    border-radius: 5px;
    border: 0px;
}
::placeholder{
    color: var(--grey);
}

#login button{
    background-color: var(--teal);
    width: 350px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}
#signup button{
    background-color: var(--blue);
    width: 350px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}
#login a{
    color: var(--blue);
    font-size: 1em;
    padding-top: 20px;
}
#signup a{
    color: var(--teal);
    font-size: 1em;
    padding-top: 20px;
}
form .container{
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    height: 100%;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}
/* Footer */
footer{
    background-color: var(--blue);
    height: 150px;
}